

:root {
    --secondary-bg-color: blue;
    --bg-color: #ec9b04;
    --text-color: #000000;
    --text-color-light: #fff;
    --primary-color: #C5358C;
    --green-color: #68AE5C;
    --text-color-gray: #ABABAB;
    --main-font: "NAMU", "Times New Roman", sans-serif;
    --secondary-font: "Open-sans", "Arial", sans-serif;
}
