@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <body class="body">
    <div class="header">
            <ul class="header__text">
                <a class="info" href="#">Главная</a>
                <a class="info" href="#">О нас</a>
                <a class="log" href="#">Логин</a>
                <a class="info" href="#">Регистрация</a>
            </ul>
    </div>
    <div class="main">
            <img class="main__bg" src="./img/83229c4d55f54dd8b377a21484d13ba3.jpg" alt="фото">
        <div class="blogs">
   </div>
    </div> 
</body>
</div>
