@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-page="/Posts/Index">ПОСТЫ</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Blogs/Index">БЛОГИ</a>
    
</div>
