@page
@model BlogProject.Pages.Blogs.CreateModel

        @{
        ViewData["Title"] = "Create";
            Layout = "~/Pages/Shared/_Layout.cshtml";
        }
        
<h1>Создание блогов</h1>

<hr class="simple-hr">
<div class="row">
    <div class="col-md-4">
        <form method="post" class="manager-column">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group manager-row d-flex align-items-center">
                <input asp-for="BlogE.Name" class="form-control" placeholder="Введите название блога" />
                <label asp-for="BlogE.Name" class="control-label ms-2"></label>
                <span asp-validation-for="BlogE.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
            <div class="text-center">
                <a asp-page="Index" class="link">Список блогов</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
